    input{
        font-size: x-large;
        margin: 2.5px;
        outline: 0px solid transparent;
    }
    
    input[type="button"] { 
        background-color:rgb(231, 231, 231); 
        color: black; 
        border: none; 
        border-radius: 20px;
        width:75px;
        height: 50px;
    }

    input[type="button"]:hover { 
        background-color:rgb(204, 204, 204); 
    }

    input[class="op"] { 
        width: 50px;
        font-size: 30px;
        margin-right: 20px;
    } 

    input[class="par"],input[class="op"]{
        color: rgba(7, 121, 7, 0.719);
    }

    input[id="display"] { 
        background-color: rgb(255, 255, 255); 
        border: solid black 2px; 
        border-radius: 5px;
        width: 239px; 
        height: 50px;
        font-size: large;
    }

    input[id="enter"] { 
        background-color: rgba(7, 121, 7, 0.719); 
        color: rgb(255, 255, 255);
    }

    input[id="enter"]:hover { 
        background-color: rgba(34, 158, 34, 0.719); 
    }

    input[id="backSpace"] {
        font-size: large;
        height: 35px;
        background-color: rgb(255, 255, 255);
        color: blue;
        margin-left: -5px;
        margin-bottom: -20px;
    }

    input[id="clear"] {
        color: rgb(206, 72, 72);
    }

    input[id="clearHistory"] {
        margin-left: 40px; 
        margin-top: 20px;
        background-color:rgb(179, 179, 179); 
        border: solid black 2px; 
        border-radius: 5px;
        width: 140px; 
        height: 25px;
        font-size: medium;
    }

    fieldset{
        border-radius: 15px;
        width: fit-content;
        height: fit-content;
    }

    label{
        font-size: 24px;
        font-weight: bolder;
    }

    li[class="delete"] {
        display: none;
    }

    li{
        font-size: 22px;
    }
    
    button{
        font-size: 20px;
        background-color:rgb(231, 231, 231);
        border: none; 
        border-radius: 10px;
        outline: 0px solid transparent;
    }
    button:hover{
        background-color:rgb(204, 204, 204);
    }

    button[id="btnXli"]{
        font-weight: 800;
        margin-left: 30px;
        color: #025f70;
        margin-bottom: 10px;
    }

    button[id="li"]{
        background-color: rgb(255, 255, 255);
        width: fit-content;
        height: fit-content;
    }

    button[id="li"]:hover{
        background-color:rgb(204, 204, 204);
    }

    p[id="noH"]{
        color: rgb(129, 125, 125);
        text-align: center;
        font-size: large;
    }
